/Users/baptistelafoux/Google Drive/Perso/Divers/aztec_tiling/aztec_tiling/__pycache__/
/Users/baptistelafoux/Google Drive/Perso/Divers/aztec_tiling/aztec_tiling/.gitattribute
Drive/Perso/Divers/aztec_tiling/aztec_tiling/.gitignore
